.container {
    width: 100%;
    max-width: clamp(320px, 95%, 1385px);
    margin: 0 auto;
}

/* begin section 1 */
.sections {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

.block-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5rem;
    text-align: center;
}

.block-hero__title {
    font-size: 4.6rem;
    line-height: 54px;
}

.block-hero__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2.8rem;
}

.block-hero__image {
    width: 37.9rem;
    height: 61.8rem;
    overflow: hidden;
    border-radius: var(--font-body-radius, 1.6rem);
}

.block-hero__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: var(--font-body-radius, 1.6rem);
}

.block-hero__text {
    width: 100%;
    max-width: 81rem;
    line-height: 2.2rem;
    font-size: 1.8rem;
}